<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เข้าสู่ระบบ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="register_th.css">

</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="id_out"><a href="#">สมาชิก</a>
                    <ul>
                        <li class="id_in"><a href="register_th">สมัครสมาชิก</a></li>
                        <li class="id_in"><a href="login_th">เข้าสู่ระบบ</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">ภาษา</a>
                    <ul>
                        <li class="lang_in"><a href="login_en">อังกฤษ</a></li>
                        <li class="lang_in"><a href="login_th">ไทย</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <div class="homebutton">
        <a href="home_th"><img src="home2.png" alt="Play" style="width: 80%;"></a>
    </div>

    <h1>เข้าสู่ระบบ</h1>
    <div class="register">
        <form action="/login_th" method="POST">
            <div class="email">
                <label for="">อีเมลล์ : </label>
                <input name="id_email" id="_email" class="inside" type="text" placeholder="กรอกอีเมลล์" rnodeequired>
            </div>
            <div class="password">
                <label for="">รหัสผ่าน : </label>
                <input name="id_pass" id="_pass" class="inside" type="password" placeholder="กรอกรหัสผ่าน" required>
            </div>
            <% if (locals.login_errors) { 
                login_errors.forEach(function(error_msg){ %>
                <div class="error"><%= error_msg %></div>
            <% });
            } %>
            <button type="submit" class="button">ENTER</button>
            <br>
        </form>
    </div>


    <div class="nav2">
        <ul>
            <li><a href="tos_th">เงื่อนไขการใช้บริการ</a>
            </li>
            <li><a href="ogn_th">ผู้จัดทำ</a>
            </li>
        </ul>
    </div>

</body>
</html>