<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="ogn_en.css">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="tp_out"><a href="#">MENU</a>
                    <ul>
                        <li class="tp_in"><a href="news_en">NEWS</a></li>
                        <li class="tp_in"><a href="advice_en">ADVICE</a></li>
                        <li class="tp_in"><a href="story_en">STORY</a></li>
                        <li class="tp_in"><a href="support_en">SUPPORT</a></li>
                    </ul>
                </li>
                <li class="id_out"><a href="#">MEMBER</a>
                    <ul>
                        <li class="id_in"><a href="id_en">ID</a></li>
                        <li class="id_in"><a href="logout_en">LOGOUT</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">LANGUAGE</a>
                    <ul>
                        <li class="lang_in"><a href="ogn_en">ENGLISH</a></li>
                        <li class="lang_in"><a href="ogn_th">THAI</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </header>
    <div class="homebutton">
        <a href="/"><img src="home2.png" alt="Play" style="width: 80%;"></a>
    </div>


    <div class="ogn_out">
        <div class="ogn">
            <h1>ORGANIZE</h1>
            <button id="myBtn">OPEN</button>
            <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Anawin Manosilapakorn 1630901369</p>
                <p>Rinradee Phollamud 1630900981</p>
                <p>Thitawan Thanasai 1630903472</p>
                <p>Rachanon Phoyu 1630901211</p>
            </div>
            </div>
            
            <script>
            var modal = document.getElementById("myModal");

            var btn = document.getElementById("myBtn");

            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function() {
            modal.style.display = "block";
            }

            span.onclick = function() {
            modal.style.display = "none";
            }

            
            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            }
            </script>
        </div>
    </div>

    <div class="ogn_out2">
        <div class="ogn2">
            <h1>SUBJECT + SECTION</h1>
            <button id="myBtn2">OPEN</button>
            <div id="myModal2" class="modal2">
            <div class="modal-content2">
                <span class="close2">&times;</span>
                <p>SUBJECT : CE223</p>
                <p>SECTION : 236A</p>
            </div>
            </div>
            
            <script>

            var modal2 = document.getElementById("myModal2");

            var btn2 = document.getElementById("myBtn2");

            var span2 = document.getElementsByClassName("close2")[0];

            btn2.onclick = function() {
            modal2.style.display = "block";
            }

            span2.onclick = function() {
            modal2.style.display = "none";
            }

            window.onclick = function(event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
            }
            </script>
        </div>
    </div>

    <div class="ogn_out3">
        <div class="ogn3">
            <h1>PROFESSOR</h1>
            <button id="myBtn3">OPEN</button>
            <div id="myModal3" class="modal3">
            <div class="modal-content3">
                <span class="close3">&times;</span>
                <p>Todsapon Banklongsi</p>
            </div>
            </div>
            
            <script>

            var modal3 = document.getElementById("myModal3");

            var btn3 = document.getElementById("myBtn3");

            var span3 = document.getElementsByClassName("close3")[0];

            btn3.onclick = function() {
            modal3.style.display = "block";
            }

            span3.onclick = function() {
            modal3.style.display = "none";
            }

            window.onclick = function(event) {
            if (event.target == modal3) {
                modal3.style.display = "none";
            }
            }
            </script>
        </div>
    </div>

    <div class="nav2">
        <ul>
            <li><a href="tos_en">Term of service</a>
            </li>
            <li><a href="ogn_en">Organizer</a>
            </li>
        </ul>
    </div>

</body>
</html>