<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="ogn_en.css">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="tp_out"><a href="#">MENU</a>
                    <ul>
                        <li class="tp_in"><a href="news_en">NEWS</a></li>
                        <li class="tp_in"><a href="advice_en">ADVICE</a></li>
                        <li class="tp_in"><a href="story_en">STORY</a></li>
                        <li class="tp_in"><a href="support_en">SUPPORT</a></li>
                    </ul>
                </li>
                <li class="id_out"><a href="#">MEMBER</a>
                    <ul>
                        <li class="id_in"><a href="register_en">REGISTER</a></li>
                        <li class="id_in"><a href="login_en">LOGIN</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">LANGUAGE</a>
                    <ul>
                        <li class="lang_in"><a href="ogn_en">ENGLISH</a></li>
                        <li class="lang_in"><a href="ogn_th">THAI</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </header>
    <div class="homebutton">
        <a href="/"><img src="home2.png" alt="Play" style="width: 80%;"></a>
    </div>


    <div class="ogn_out">
        <div class="ogn">
            <h1>ORGANIZER</h1>
            <hr>
            <h2>Modal Example</h2>

            <!-- Trigger/Open The Modal -->
            <button id="myBtn">OPEN</button>

            <!-- The Modal -->
            <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>

            </div>

            <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            btn.onclick = function() {
            modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
            modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            }
            </script>
        </div>
    </div>

    <div class="nav2">
        <ul>
            <li><a href="tos_en">Term of service</a>
            </li>
            <li><a href="ogn_en">Organizer</a>
            </li>
        </ul>
    </div>

</body>
</html>