<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="story_th.css">

</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="tp_out"><a href="#">เมนู</a>
                    <ul>
                        <li class="tp_in"><a href="news_th">ข่าว</a></li>
                        <li class="tp_in"><a href="advice_th">แนะนำการเล่น</a></li>
                        <li class="tp_in"><a href="story_th">เรื่องราว</a></li>
                        <li class="tp_in"><a href="support_th">ช่วยเหลือ</a></li>
                    </ul>
                </li>
                <li class="id_out"><a href="#">สมาชิก</a>
                    <ul>
                        <li class="id_in"><a href="logout_en">ออกจากระบบ</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">ภาษา</a>
                    <ul>
                        <li class="lang_in"><a href="story_en">อังกฤษ</a></li>
                        <li class="lang_in"><a href="story_th">ไทย</a></li>
                    </ul>
                </li>
            </ul>
            <div class="homebutton">
                <a href="home_th"><img src="home2.png" alt="Play" style="width: 80%;"></a>
            </div>
        </div>
    </header>

    <h1>เรื่องราว</h1>
    <div class="story1">
        <img src="story1.png" alt="story" style="width: 40%;">

        <div class="msg1">
            <h2>คำอธิบาย</h2>
            <h2>Teparax เป็นเกมประเภทSurvival and Puzzle
                ซึ่งดำเนินเนื้อเรื่องที่ได้inspiration มาจากนิทานเรื่องเทพารักษ์และคนตัดไม้ ระบบภายในเกมตอนนี้ยังอยู่ในรูปแบบDemo(อยู่ระหว่างการพัฒนา)
                สิ่งที่จะได้ทำภายในเกมในตอนนี้
                -Object(ตัดไม้ ประหารชีวิตสัตว์(kill))
                -ระบบhealing(ใช้ไอเทมฟื้นฟู)
                -ระบบinventory(เก็บไอเทมใส่ไว้กระเป๋า)
                -Camera(ปรับมุมกล้อง)
                -Movement(เคลื่อนไหวตัวละคร)
                รูปแบบการเล่นท่านสามารถเล่นแบบOpenworld ได้คืออยากทำอะไรก็ทำ และ สามารถเล่นตามเนื้อเรื่องได้ โดยเมื่อเรียนรู้วิธีการเล่นพื้นฐานเสร็จแล้วท่านสามารถเลือกที่จะเข้าสู่การดำเนินเนื้อเรื่องของเกม </h2>
            <br>
            <h2>เนื้อเรื่อง</h2>
            <h2>เมื่อเข้าสู่การดำเนินเนื้อเรื่องสิ่งที่จะเกิดขึ้นคือ คุณจะต้องเข้าไปตัดไม้ในป่ามหัศจรรย์แห่งนึง และเมื่อตัดไปจะมีต้นสุดท้ายซึ่งอยู่ใกล้กับลำธาร เมื่อตัดใกล้จะเสร็จจะเกิดปรากฏการณ์ขวานปลิว(ลงน้ำเสียงดังจ๋อม) ท่านTEPARAXผู้วิเศษที่ดูแลลำธารแห่งป่ามหัศจรรยาปรากฎตัวโผล่ขึ้นมา พร้อมกับขวานหินธรรมดา และ ขวานมรกต และท่านจะพูดว่าเจ้าใช่ไหมที่ทำขวานตกลงมาในลำธารของข้า เกือบจะโดนหัวอยู่แล้วเชียว เอาหล่ะ ขวานที่เจ้าทำตกนั้นคือขวานด้ามไหน 
                ซึ่งในตอนนี้ผู้เล่นต้องเลือกตอบว่าจะตอบความจริงหรือจะทำบาปโดยการโกหกท่านTEPARAXถ้าตอบตามความจริงผลที่จะเกิดขึ้นก็คือ….COMING SOON</h2>
        </div>
    </div>

    <div class="nav2">
        <ul>
            <li><a href="tos_th">เงื่อนไขการใช้บริการ</a>
            </li>
            <li><a href="ogn_th">ผู้จัดทำ</a>
            </li>
        </ul>
    </div>

</body>
</html>