<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="story_en.css">
    
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="tp_out"><a href="#">MENU</a>
                    <ul>
                        <li class="tp_in"><a href="news_en">NEWS</a></li>
                        <li class="tp_in"><a href="advice_en">ADVICE</a></li>
                        <li class="tp_in"><a href="story_en">STORY</a></li>
                        <li class="tp_in"><a href="support_en">SUPPORT</a></li>
                    </ul>
                </li>
                <li class="id_out"><a href="#">MEMBER</a>
                    <ul>
                        <li class="id_in"><a href="id_en">ID</a></li>
                        <li class="id_in"><a href="logout_en">LOGOUT</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">LANGUAGE</a>
                    <ul>
                        <li class="lang_in"><a href="story_en">ENGLISH</a></li>
                        <li class="lang_in"><a href="story_th">THAI</a></li>
                    </ul>
                </li>
            </ul>
            <div class="homebutton">
                <a href="/"><img src="home2.png" alt="Play" style="width: 80%;"></a>
            </div>
        </div>
    </header>




    <h1>S T O R Y</h1>
    <div class="story1">
        <img src="story1.png" alt="story" style="width: 40%;">

        <div class="msg1">
            <h2>ABOUT OUR GAME</h2>
            <h2>Teparax is a survival and puzzle game,which carries an inspired story. It comes from the fairy tales about the satyr and the woodcutter.  The system in the game is now still in demo form (under development).</h2>
            <h2>What can be done in the game right now is
                -Object(Cutting wood, killing animals)
                 -Healing system (using recovery items)
                 -inventory system (keep items in the bag)
                 -Camera (adjust the camera angle)
                 -Movement (Move the character)</h2>
            <h2>In this game, it's an openworld game, meaning you can do whatever you want and can play according to the story.  By learning how to play the basics, you can choose to go into the story of the game.</h2>
            <br>
            <h2>STORY</h2>
            <h2>When entering the storyline, what will happen is  You are a wood cutter who has to cut trees in a magical forest. You keep cutting down trees until the last tree. The trees were close to the stream and had unusual colors.  Nearly finished cutting, the ax that was being used to cut trees fell into the stream and sank to the ground.</h2>
            <h2>Lord TEPARAX, the mage in charge of the streams of the Magical Forest, appeared.  He asked if you were the one who dropped the ax into my stream.  Almost hit my head. Alright, Which ax did you dropped?  He showed the normal stone axe, silver axe and emerald axe.</h2>
            <h2>At this time the player has to choose whether to answer the truth or to say the lies to him. The result will be….COMING SOON</h2>
        </div>
    </div>

    <br>
    <br>

    <div class="nav2">
        <ul>
            <li><a href="tos_en">Term of service</a>
            </li>
            <li><a href="ogn_en">Organizer</a>
            </li>
        </ul>
    </div>

</body>
</html>