<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="support_th.css">

</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="tp_out"><a href="#">เมนู</a>
                    <ul>
                        <li class="tp_in"><a href="news_th">ข่าว</a></li>
                        <li class="tp_in"><a href="advice_th">แนะนำการเล่น</a></li>
                        <li class="tp_in"><a href="story_th">เรื่องราว</a></li>
                        <li class="tp_in"><a href="support_th">ช่วยเหลือ</a></li>
                    </ul>
                </li>
                <li class="id_out"><a href="#">สมาชิก</a>
                    <ul>
                        <li class="id_in"><a href="register_th">สมัครสมาชิก</a></li>
                        <li class="id_in"><a href="login_th">เข้าสู่ระบบ</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">ภาษา</a>
                    <ul>
                        <li class="lang_in"><a href="support_en">อังกฤษ</a></li>
                        <li class="lang_in"><a href="support_th">ไทย</a></li>
                    </ul>
                </li>
            </ul>
            <div class="homebutton">
                <a href="home_th"><img src="home2.png" alt="Play" style="width: 80%;"></a>
            </div>
        </div>
    </header>


    <h2>ติดต่อ</h2>
    <hr>
    <br>
    <div class="FB">
        <a href="https://www.facebook.com/bondrachanon28"><img src="FB.png" alt="Play" style="width: 70%;"></a>
    </div>
    <br>
    <hr>
    <br>
    <div class="IG">
        <a href="https://www.instagram.com/bond_rcn/"><img src="IG.png" alt="Play" style="width: 70%;"></a>
    </div>
    
    <br>
    <hr>
    <br>



    <div class="nav2">
        <ul>
            <li><a href="tos_th">เงื่อนไขการใช้บริการ</a>
            </li>
            <li><a href="ogn_th">ผู้จัดทำ</a>
            </li>
        </ul>
    </div>

</body>
</html>