<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="support_en.css">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="tp_out"><a href="#">MENU</a>
                    <ul>
                        <li class="tp_in"><a href="news_en">NEWS</a></li>
                        <li class="tp_in"><a href="advice_en">ADVICE</a></li>
                        <li class="tp_in"><a href="story_en">STORY</a></li>
                        <li class="tp_in"><a href="support_en">SUPPORT</a></li>
                    </ul>
                </li>
                <li class="id_out"><a href="#">MEMBER</a>
                    <ul>
                        <li class="id_in"><a href="register_en">REGISTER</a></li>
                        <li class="id_in"><a href="login_en">LOGIN</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">LANGUAGE</a>
                    <ul>
                        <li class="lang_in"><a href="support_en">ENGLISH</a></li>
                        <li class="lang_in"><a href="support_th">THAI</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </header>
    <div class="homebutton">
        <a href="/"><img src="home2.png" alt="Play" style="width: 80%;"></a>
    </div>

    <div class="nav2">
        <ul>
            <li><a href="tos_en">Term of service</a>
            </li>
            <li><a href="ogn_en">Organizer</a>
            </li>
        </ul>
    </div>

</body>
</html>