<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="tos_th.css">

</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="tp_out"><a href="#">เมนู</a>
                    <ul>
                        <li class="tp_in"><a href="news_th">ข่าว</a></li>
                        <li class="tp_in"><a href="advice_th">แนะนำการเล่น</a></li>
                        <li class="tp_in"><a href="story_th">เรื่องราว</a></li>
                        <li class="tp_in"><a href="support_th">ช่วยเหลือ</a></li>
                    </ul>
                </li>
                <li class="id_out"><a href="#">สมาชิก</a>
                    <ul>
                        <li class="id_in"><a href="register_th">สมัครสมาชิก</a></li>
                        <li class="id_in"><a href="login_th">เข้าสู่ระบบ</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">ภาษา</a>
                    <ul>
                        <li class="lang_in"><a href="tos_en">อังกฤษ</a></li>
                        <li class="lang_in"><a href="tos_th">ไทย</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <div class="homebutton">
        <a href="home_th"><img src="home2.png" alt="Play" style="width: 80%;"></a>
    </div>

    <div class="tos_out">
        <div class="tos">
            <h1>เงื่อนไขการใช้บริการ</h1>
            <hr>
            <h2>ข้อ 1 ( วัตถุประสงค์ )</h2>
            <h3>ข้อตกลงและเงื่อนไขเหล่านี้มีวัตถุประสงค์เพื่อกำหนดสิทธิ, หน้าที่, ความรับผิดชอบ และรายละเอียดอื่นๆ ที่จำเป็นของผู้ใช้บริการเกมและบริการอื่นทั้งหมดที่เกี่ยวข้อง (โดยรวมถึงบริการทั้งหมดที่เกี่ยวข้องกับเกมที่บริษัทให้บริการ อาทิ เว็บไซต์, เว็บบอร์ด และอื่นๆ ซึ่งต่อไปนี้จะเรียกว่า "บริการเกม") ที่ให้บริการโดยบริษัท TEPARAX และบริษัทในเครือ รวมถึงบริษัทย่อย (ซึ่งต่อไปนี้จะเรียกว่า “TEPARAX” หรือ “บริษัท”)</h3>
            <br>
            <h2>ข้อ 2 ( ข้อจำกัดความ )</h2>
            <h3>① ข้อจำกัดความที่ใช้ในเงื่อนไขการใช้บริการฉบับนี้ จะมีดังนี้</h3>
            <h3>1. “เงื่อนไขการใช้บริการ” หมายถึง สัญญาระหว่างบริษัทและสมาชิกที่เกี่ยวข้องกับการใช้บริการเกมที่ให้บริการโดยบริษัท</h3>
            <h3>2. “ผู้ใช้บริการเกมของ TEPARAX” หมายถึง บุคคลที่ใช้บริการเกมของบริษัท ด้วยบัญชีที่ออกให้หลังจากการสมัครสมาชิกและยอมรับเงื่อนไขการใช้บริการในการใช้งานตามขั้นตอนต่างๆ ที่ระบุไว้โดยบริษัท</h3>
            <h3>3. “บริการเกมของ TEPARAX” หมายถึง เกมและบริการอื่นๆ ที่บริษัทได้เปิดให้บริการกับสมาชิก</h3>
            <h3>4. “โลกของเกม” หมายถึง โลกเสมือนจริงที่มีสมาชิกหลายคน เล่นเกมตามข้อกำหนดร่วมกัน หรือวัตถุประสงค์อื่นๆ ภายในเกม เช่น เพื่อความบันเทิง เพื่อสังคม และการแลกเปลี่ยนข้อมูล</h3>
            <h3>5. “บัญชีเกม (ID) ของ Pearl Abyss” หรือ “Pearl Abyss ID (ID)” (ซึ่งต่อไปนี้จะเรียกว่า “บัญชี”) หมายถึง ชื่อที่ระบุตัวตนของสมาชิก และการใช้บริการเกม ซึ่งประกอบไปด้วยตัวอักษร ตัวเลข หรืออักขระพิเศษที่เลือกโดยผู้ใช้</h3>
            <br>
            <h2>ข้อ 3 ( รายละเอียดการให้บริการข้อมูลของบริษัท )</h2>
            <h3>1. บริษัทจะลงประกาศรายละเอียดเงื่อนไขการใช้บริการนี้ ในเว็บไซต์ทางการของเกม หรือในหน้าจอเริ่มต้นของเกม เพื่อให้สมาชิกสามารถรับทราบข้อมูลได้อย่างสะดวก อย่างไรก็ตาม สมาชิกสามารถเรียกดู นโยบายความเป็นส่วนตัว และเงื่อนไขการใช้บริการได้ ผ่านทางหน้าจอการเชื่อมต่อเมื่อเข้าสู่เกม</h3>
            <br>
            <h2>[ข้อมูลบริษัท]</h2>
            <h3>เว็บไซต์ : TEPARAX.COM</h3>
            <br>
            <h2>ข้อ 4 ( การแจ้งและปรับเปลี่ยนเงื่อนไขการใช้บริการ )</h2>
            <h3>① บริษัทจะเผยแพร่เนื้อหาของเงื่อนไขการใช้บริการนี้ ผ่านทางเว็บไซต์ทางการ หน้าจอเริ่มต้นของเกม หรือหน้าจอเชื่อมต่อเกม เพื่อให้ผู้ใช้งานสามารถเข้าใจเนื้อหาของเงื่อนไขการใช้บริการนี้ได้สะดวก</h3>
            <h3>② บริษัทจะต้องมีมาตรการ เพื่อให้สมาชิกสามารถสอบถาม และตอบกลับข้อมูลเกี่ยวกับเนื้อหาของเงื่อนไขการใช้บริการนี้กับทางบริษัทได้</h3>
            <h3>③ บริษัทจะให้ข้อมูลที่มีความสำคัญ เช่น การยกเลิกการเป็นสมาชิก การขอรับเงินคืนหากชำระเงินเกินจำนวน การยุติหรือยกเลิกสัญญา การยกเว้นและจำกัดความรับผิดของบริษัท การชดเชยค่าเสียหายแก่สมาชิก ด้วยตัวอักษรที่เป็นตัวหนา หรือมีจุดสังเกตเด่นชัด หรือนำเสนอด้วยหน้าจอการเชื่อมต่อที่แยกต่างหาก หรือหน้าจอป็อปอัพ ฯลฯ เพื่อให้สมาชิกสามารถเข้าใจ และยอมรับเงื่อนไขการใช้บริการนี้ได้สะดวก</h3>
            <h3>④ บริษัทอาจแก้ไขเงื่อนไขการใช้บริการนี้ได้ โดยจะต้องไม่ขัดต่อกฎหมาย และข้อบังคับที่เกี่ยวข้อง</h3>
            <h3>⑤ หากบริษัทประสงค์จะแก้ไขเงื่อนไขการใช้บริการนี้ บริษัทจะประกาศวันที่มีผลบังคับใช้ พร้อมทั้งรายละเอียดและเหตุผลของการแก้ไขเพิ่มเติม โดยบริษัทจะประกาศให้ผู้ใช้บริการทราบล่วงหน้าไม่น้อยกว่า 15 วัน ก่อนที่เงื่อนไขการใช้บริการจะมีผลบังคับใช้ สมาชิกจะสามารถทราบรายละเอียดผ่านทางหน้าจอเริ่มต้นหรือหน้าจอการเชื่อมต่อเกม และบริษัทจะแจ้งให้ทราบผ่านทางอีเมลเพิ่มอีกช่องทางสำหรับผู้ที่สมัครเป็นสมาชิก</h3>
            <h3>⑥ หากบริษัททำการแก้ไขเงื่อนไขการใช้บริการ หลังจากที่ได้แจ้งเงื่อนไขการใช้บริการที่แก้ไขแล้ว บริษัทจะทำการตรวจสอบว่าสมาชิกยอมรับในเงื่อนไขการใช้บริการที่เปลี่ยนแปลงหรือไม่ กรณีที่บริษัทมีประกาศโดยชัดเจนแก่สมาชิกว่าหากสมาชิกไม่ได้ระบุความยินยอม หรือปฏิเสธภายใน 15 วัน ให้ถือว่าสมาชิกได้ยอมรับการเปลี่ยนแปลงดังกล่าวแล้ว</h3>
            <h3>⑦ หากสมาชิกรายใดไม่เห็นด้วยกับการใช้เงื่อนไขการใช้บริการในการให้บริการที่แก้ไขแล้ว บริษัทหรือสมาชิกรายนั้นจะสามารถยกเลิกเงื่อนไขการใช้บริการได้</h3>
            <br>
            <h2>ข้อ 5 ( กฎข้อบังคับ )</h2>
            <h3>① บริษัทอาจมีเงื่อนไขการใช้บริการ และนโยบายการให้บริการ (ต่อไปนี้จะเรียกว่า "นโยบายการให้บริการ") สำหรับบริการเกม และหากเนื้อหามีความแตกต่างจากเงื่อนไขการใช้บริการนี้ จะถือว่านโยบายการให้บริการดังกล่าว มีผลบังคับใช้แทน</h3>
            <h3>② กรณีใดๆ ที่ไม่ได้ระบุไว้อย่างชัดเจนในเงื่อนไขการใช้บริการนี้ จะถือว่าอยู่ภายใต้ข้อบังคับของกฎหมาย และระเบียบข้อบังคับที่เกี่ยวข้อง</h3>
            <br>
        </div>
    </div>

    <br>
    <div class="nav2">
        <ul>
            <li><a href="tos_th">เงื่อนไขการใช้บริการ</a>
            </li>
            <li><a href="ogn_th">ผู้จัดทำ</a>
            </li>
        </ul>
    </div>

</body>
</html>