<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="tos_en.css">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li class="tp_out"><a href="#">MENU</a>
                    <ul>
                        <li class="tp_in"><a href="news_en">NEWS</a></li>
                        <li class="tp_in"><a href="advice_en">ADVICE</a></li>
                        <li class="tp_in"><a href="story_en">STORY</a></li>
                        <li class="tp_in"><a href="support_en">SUPPORT</a></li>
                    </ul>
                </li>
                <li class="id_out"><a href="#">MEMBER</a>
                    <ul>
                        <li class="id_in"><a href="id_en">ID</a></li>
                        <li class="id_in"><a href="logout_en">LOGOUT</a></li>
                    </ul>
                </li>
                <li class="lang_out"><a href="#">LANGUAGE</a>
                    <ul>
                        <li class="lang_in"><a href="tos_en">ENGLISH</a></li>
                        <li class="lang_in"><a href="tos_th">THAI</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </header>
    <div class="homebutton">
        <a href="/"><img src="home2.png" alt="Play" style="width: 80%;"></a>
    </div>

    <div class="tos_out">
        <div class="tos">
            <h1>Terms of Service</h1>
            <hr>
            <h2>Article 1 (Purpose)</h2>
            <h3>① These terms (the “Terms of Service”) is to govern the rights, obligations, responsibilities, and other necessary matters between you, the service user, and TEPARAX with respect to your use of our game services and all other related services (“Game Services”).</h3>
            <br>
            <h2>Article 2 (Definitions)</h2>
            <h3>① The definitions of terms used in these Terms are as follows.</h3>
            <h3>'Use Agreement' means a contract between the Company and Users about the Game Services provided by the Company.</h3>
            <h3>1. 'Use Agreement' means a contract between the Company and Users about the Game Services provided by the Company.</h3>
            <h3>2. “User(s)” means a user who accesses and uses the Company's Game Services using an account issued by the Company after signing up and agreeing to the Use Agreement according to the procedure set out by the Company.</h3>
            <h3>3. “Game World” means a variable virtual world in which multiple Users play games according to a certain rule for incidental purposes such as leisure, socializing, and sharing of information.</h3>
            <h3>② The definitions of the terms used in these Terms of Service shall be based on the relevant laws and regulations except as set forth in Article 1, and the matters not set forth in these Terms of Service shall be governed by general commercial practices.</h3>
            <br>
            <h2>Article 3 (Providing Company Information, etc.) Provision of Game Information</h2>
            <h3>① The Company publishes the following items on the initial screen of the game service or in these terms of Service of the Game Service Homepage to make it easy for the users to know. However, the personal information processing policy and terms can be viewed by the user through the connection screen.</h3>
            <h3>1. Company Name and CEO</h3>
            <h3>2. Report number or registration number of the game manufacturer or distributor</h3>
            <h3>3. Business Address (including a customer dispute compaint mailing address)</h3>
            <h3>4. Phone number, fax number, and email address</h3>
            <h3>5. Rating, Rating Classification Number, Date of Production</h3>
            <h3>6. Report number or registration number of the game manufacturer or distributor</h3>
            <h3>7. Privacy Policy</h3>
            <h3>8. Terms of Service</h3>
            <h3>9. Other matters deemed necessary by the company</h3>
            <br>
            <h2>[Company Information]</h2>
            <h3>Name: TEPARAX Corp.</h3>
            <br>
            <h2>Article 4 (Specification and Amendment of Terms)</h2>
            <h3>① The Company publishes the Terms of Service on the initial page of the Game Services or the Game Service Webpage so that the User can easily understand the contents of the Terms of Service.</h3>
            <h3>② The Company shall take necessary measures to enable the User to inquire about the contents of the Terms of Service.</h3>
            <h3>③ The Company shall make the contents of this agreement easy to understand for a person who wants to use the game service and, prior to obtaining User's consent, among the contents set out in these terms and conditions, the company shall provide important matters such as cancellation of Usership, reimbursement of overpayment, termination or cancellation of contract, termination of company, indemnification of company, and compensation for User with bold or similar effect or a separate connection screen or a pop-up screen, etc. so that Users can easily understand and agree to these terms and conditions.</h3>
            <h3>④ The Company may amend these terms and conditions to the extent that it does not violate the relevant laws and regulations.</h3>
            <h3>⑤ If the company intends to amend these terms and conditions, it announces the date of application, the details of amendment, and the reason for the amendment etc from at least seven (7) days prior to the effective date of application until a considerable period of time has elapsed through initial screen or a connection screen of initial screen.
                However, any unfavorable or significant changes to the terms and conditions shall be announced 30 days prior to the effective date, and Users shall be notified of the terms and conditions to be amended, effective date and reasons for amendment by e-mail or other methods.</h3>
            <h3>⑥ In the case that the Company amends the Terms of Service, it shall notify the user of the changes and request consent of the user. The Company may be able to deem the User to have agreed to the Amended Terms of Service if User does not express any sign of consent or rejection by the effective date</h3>
            <h3>⑦ If a User does not provide consent to the amendment of the Terms of Service, the Company or User may terminate the Game Services Use Agreement.</h3>
            <br>
            <h2>Article 5 (Ruling Rules)</h2>
            <h3>① The Company may have separate Terms and conditions and Operating Policies for Game Services, and if the contents differ from these terms and conditions, the Operational Policy etc. shall prevail.</h3>
            <h3>② Any matters not expressly stated in these terms and conditions shall be governed by the relevant laws and regulations.</h3>
            <br>
        </div>
    </div>

    <br>
    <div class="nav2">
        <ul>
            <li><a href="tos_en">Term of service</a>
            </li>
            <li><a href="ogn_en">Organizer</a>
            </li>
        </ul>
    </div>

</body>
</html>